<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="http://localhost:3005/savedt" method="POST">
    <input type="text" placeholder="用户名" name='username'/>
    <input type="text" placeholder="内容" name='content' />
    <input type="text" placeholder="创建时间" name='createtime'>
    <input type="button" value='submit'>
    </form>
</body>
</html>